<h1>Editing Questions &amp; Answers</h1>

<%= render 'form' %>

<%= link_to 'Back', qandas_path, :class => 'btn btn-mini btn-primary' %>

<%= link_to 'New Q & A', new_qanda_path, :class => 'btn btn-mini btn-primary' %>
