
      <h2>Welcome to the 2013 University of Scouting, GeoCache Puzzle Challenge!</h2>
      <h3>Instructions</h3>

Download the GeoCache Puzzle Challenge from this location.
<br><br>
The GeoCache Puzzle Challenge consists of 24 individual puzzle challenges, each as a Merit Badge.
<br><br>
Each Merit Badge has a clue along with a GPS coordinate.  In order to earn each Merit Badge, you must locate a geocache on the geocaching.com website that answers the clue given.  The cache that solves the Merit Badge challenge will be somewhere within a roughly 1-mile radius of the GPS coordinates given.
<br><br>
In order to entered into the drawing to win one of two backpacks, you must earn all 24 Merit Badges by entering your answers into this form, using the identification number of the cache.  The identification number begins with the letters "GC" and is followed by 4 or 5 additional letters and numbers.
<br><br>
An example Merit Badge:
<br><br>
Birding<br>
  Look at the birds, or maybe not... (30.280416,-95.394001)
<br><br>
Using the geocaching.com website, click "Play", then "Hide and Seek a Cache".  In the "Lattitude and Longitude Search", "Decimal Format", place the coordinates given.  Note that they will have to be separated in order to work properly.  Set the "Radius" to "2" or "3".  Click "Go".  In that list, at approximately 1.3 miles from the coordinates is a cache titled "No Room For Birds".  Click that item to reveal the GC code of (GC3P0PB).
<br><br>
Sometimes, you may need to read the description of the cache to confirm that it is the correct answer.  Not all are going to be as easy as this one!  But you get the idea how the clues work...
<br><br>
Happy hunting!
<br><br>
Rules:
<br><br>
The GeoCache Puzzle Challenge is open to everyone who registers online, except as disqualified below.  Entries will be accepted up to the date online registration closes.
<br><br>
Your name and email address on the GeoCache Puzzle Challenge must match those given for online registration.
<br><br>
Two winners will be drawn at random from the list of people who successfully earn the Merit Badges by answering each challenge.  The drawing will be held during the opening cerimonies at University of Scouting 2013.
<br><br>
Volunteers involved in organizing University of Scouting and people who have assisted with developing the GeoCache Puzzle Challenge are not eligible to win the prizes.
<br><br>
The prizes awarded will be two backpacks.

<br><br>

        <%= link_to posts_path do %> 
          <%= image_tag 'startnow.png' %>
        <% end %>
