<div class="span8 offset2">
	<h2>
		Welcome to the 2013 University of Scouting, <b>GeoCache Puzzle Challenge</b>!
	</h2>
	<h3>
		Instructions
	</h3>
	Download the <b>GeoCache Puzzle Challenge</b> from this location. <br>
	<br>
	The <b>GeoCache Puzzle Challenge</b> consists of 24 individual puzzle challenges, each as a Merit Badge. <br>
	<br>
	Each Merit Badge has a clue along with a GPS coordinate. In order to earn each Merit Badge, you must locate a geocache on the geocaching.com website that answers the clue given. The cache that solves the Merit Badge challenge will be somewhere within a roughly 1-mile radius of the GPS coordinates given. <br>
	<br>
	In order to be entered into the drawing to win one of two backpacks, yyou must enter your answers into this form using the identification number of  the cache. The identification number begins with the letters "GC" and is followed by 4 or 5 additional letters and numbers. <br>
	<br>
	An example Merit Badge: <br>
	<table class="table table-striped table-bordered span6 offset0">
		<tr>
			<td> <span class="text-align:left">
<%= image_tag 'meritbadges/BIRD.jpg', :height => '40px', :width => '40px'  %>
			<br>
			<b>Birding</b> &nbsp;&nbsp; <i>Look at the birds, or maybe not...</i> (30.280416,-95.394001) </td>
		</tr>
	</table>
	<br clear="all">
	<ol>
		<li> Set up your answer sheet at this site. (Click "Create" or "Login" in the upper right corner.)
		<li> After you've logged in, click the menu "My Answers" to see all of the questions for the <b>GeoCache Puzzle Challenge</b>.
		<li> Using the <a href="http://geocaching.com" target="_blank">geocaching.com</a> website, click "Play", then "Hide and Seek a Cache". 
		<li> In the "Lattitude and Longitude Search", "Decimal Format", place the coordinates given. Note that they will have to be separated in order to work properly. 
		<li> Set the "Radius" to "2" or "3". 
		<li>Click "Go". In that list, at approximately 1.3 miles from the coordinates is a cache titled "No Room For Birds". Click that item to reveal the GC code of <b>(GC3P0PB)</b>. 
		<li> Enter that number into your answer sheet on this site. 
	</ol>
	<i>Sometimes, you may need to read the description of the cache to confirm that it is the correct answer. Not all are going to be as easy as this one! But you get the idea how the clues work...</i> <br>
	<br>
	Happy hunting! <br>
	<br>
	<h3>
		Rules:
	</h3>
	<ol>
		<li> The <b>GeoCache Puzzle Challenge</b> is open to everyone who registers for University of Scouting 2013 online.  Entries will be accepted up to the date online registration closes.
		<li> Your name and email address on the <b>GeoCache Puzzle Challenge</b> must match those given for online registration
		<li> Two winners will be drawn at random from the list of people who successfully earn the most merit badges.
		<li> The drawing will be held during the opening ceremonies at University of Scouting, February 9, 2013.
		<li> Each winner will be awarded one backpack.
		<li> Volunteers involved in organizing University of Scouting and who have assisted with developing in <b>GeoCache Puzzle Challenge</b> are not eligible to win prizes.
	</ol>

</div>
