<h1>My Answer Sheet</h1>
 [FORM WILL GO HERE]

<hr>

<table class="table table-striped table-bordered span3 offset0">
  <tr>
    <th>Question</th>
    <th>Answer</th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td>

<%= post.qanda_id %> 
<!-- %= image_tag 'meritbadges/'+@post.qandas.try(:image), :height => '40px', :width => '40px'  % -->
<!-- br -->
<!-- %= @post.qanda_id.try(:meritbadge) % -->


    </td>
    <td><%= post.my_answer %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>

  </tr>
<% end %>
</table>

