<%- model_class = User -%>
<div class="page-header">
  <h1>Final Report</h1>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>EMAIL</th>
      <th>ANSWERS</th>
      <th>VIEW</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.posts.count %></td>
        <td> </td>
      </tr>
    <% end %>
  </tbody>
</table>
